<div class="flex gap-6 my-20">

  <select [(ngModel)]="filters.categoryId" (change)="applyFilters()">
    <option value="">All Categories</option>
    <option *ngFor="let c of categories" [value]="c.id">
      {{c.name}}
    </option>
  </select>

  <select [(ngModel)]="filters.brandId" (change)="applyFilters()">
    <option value="">All Brands</option>
    <option *ngFor="let b of brands" [value]="b.id">
      {{b.name}}
    </option>
  </select>

  <select [(ngModel)]="filters.sortBy" (change)="applyFilters()">
    <option value="">Sort</option>
    <option value="price_asc">Price Low → High</option>
    <option value="price_desc">Price High → Low</option>
  </select>

</div>

<div *ngIf="products" class="max-w-7xl  mx-auto grid grid-cols-3 gap-1">

  <div *ngFor="let p of products" class="group">  

    <div class="border p-6">

      <img [src]="'http://localhost:5234'+p.image" class="w-full h-64 object-cover" />

    </div>

    <div class="text-center mt-4">

      <p class="text-xs tracking-widest uppercase">
        {{p.name}}
      </p>

      <p class="text-xs text-gray-500">
        {{p.brandName}}
      </p>

    </div>

    <button class="w-full bg-neutral-800 text-white py-3 mt-3 tracking-widest text-xs">

      GET PRICE

    </button>

  </div>

</div>